    <section class="breadcrumb-section set-bg"
    data-setbg="img/breadcrumb-bg.jpg">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <div class="breadcrumb-text">
                       <h2>Members</h2>
                       <div class="bt-option">
                           <a routerLink="/index">Home</a>
                           
                           <span>Members</span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>


   <section class="contact-section spad">
       <div class="container">
               <div class="col-lg-6">
                   <div class="leave-comment">
                    <form [formGroup]="memberForm" (ngSubmit)="submitMemberForm()">
                           <input type="text" placeholder="Name" id="name"  formControlName="name"><div id="resultname"></div>
                           <input type="email" placeholder="Email" id="emailId" formControlName="email"><div id="resultemail"></div>
                           <input type="tel" placeholder="Contact Number" id="phoneNumber"  formControlName="phoneNumber"><div id="resultphno"></div>
                           <textarea placeholder="Comment" formControlName="comment"></textarea> 
                      
                            
                           <label for="checkbox" id="tc">
                               <input type="checkbox" value="Accept the terms and Conditions" id="checkbox" > 
                               I do accept the accept the <span><a href="">Terms and Conditions</a></span> and read all the policies.
                           </label>
                           
                           <button type="button" onclick="submit() ">Submit</button><div id="resultbtn"></div>
                       </form>
                      
                   </div>
               </div>
           
            
       </div>
   </section>
  
   <div class="gettouch-section">
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="gt-text">
                       <a href="https://goo.gl/maps/zjCXap3CQ7mpuA4u9">
                           
                           <i class="fa fa-map-marker"></i>
                       </a>                        
                       <p> 15A,2nd link road,Ashok Nagar,Chennai<br/> 600014</p>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="gt-text">
                       <i class="fa fa-mobile"></i>
                       <ul>
                           <li>+91-1234056789</li>
                           <li>+91-5892453835</li>
                       </ul>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="gt-text email">
                       <a href="mailto:fitnessclub@gmail.com">
                       <i class="fa fa-envelope"></i></a>
                       <p>fitnessclub@gmail.com</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <section class="footer-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-4">
                   <div class="fs-about">
                       <div class="fa-logo">
                        <a routerLink="/index"><img src="../../assets/img/logo.png" alt=""></a>
                       </div>
                       <p>Being physically active can improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities.</p>
                         <div class="fa-social">
                           <a href="https:\\www.facebook.com"><i class="fa fa-facebook"></i></a>
                           <a href="https:\\www.twitter.com"><i class="fa fa-twitter"></i></a>
                           <a href="https:\\www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                           <a href="https:\\www.instagram.com"><i class="fa fa-instagram"></i></a>
                           <a href="mailto:fitnessclub@gmail.com"><i class="fa  fa-envelope-o"></i></a>
                       </div>
                   </div>
               </div>
                
               <div class="col-lg-4 col-md-6">
                   <div class="fs-widget">
                       <h4>Tips & Guides</h4>
                       <div class="fw-recent">
                           <h6> Physical fitness may help prevent depression, anxiety</h6>
                            
                       </div>
                       <div class="fw-recent">
                           <h6> Fitness: The best exercise to lose belly fat and tone up...</h6>
                           <ul>
                                
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-12 text-center">
                   <div class="copyright-text">
                       <p>
                             FitnessClub@Copyright 2023 
                       </p>
                   </div>
               </div>
           </div> 
       </div>
   </section>
