<section class="breadcrumb-section set-bg" data-setbg=" img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Workouts</h2>
                    <div class="bt-option">
                        <a routerLink="/index">Home</a>
                        <span>workouts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
  <section style="background-color: black;">         

<div class="row">
<div class="column" style="background-color:black; padding: 100px;">
<h2  > GIVE YOUR CALORIES ONE LAST DANCE WITH ZUMBA!</h2>
<p> Zumba is pretty much the coolest workout ever! Dance to great music, with terrific people,
    in the most energetic environment and enjoy the 60 minute party! Salsa, Merengue, Tango,
    Hip-Hop and Bollywood are just a few of the super awesome dances you’ll be grooving to, 
    whilst turning up your fitness regime.<br><br>
    
</p>  
</div><br><br><br>
<div class="column" style="background-color:black;">
<iframe width="500" height="315" src="https://www.youtube.com/embed/ml6cT4AZdqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
  </div> 
</div><br><br><br><br>
<div class="row">
<div class="column" style="background-color:black;padding-left: 300px;">
    <iframe width="500" height="315" src="https://www.youtube.com/embed/Cp2I4InoSCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div><br><br>

<div class="column" style="background-color:black; padding: 100px;">
  <h2  >GROUP EXERCISE CLASSES</h2>
  <p> Our range of classes will inspire you to explore new training styles and techniques, while keeping you motivated with other like-minded members. 
    We have a wide choice of classes that are a great complement to any training programme. See our class timetable for details.</p>
</div>

</div><br><br><br><br>
<div class="row">
<div class="column" style="background-color:black; padding: 100px;">
  <h2  >CARDIO TRAINING</h2>
  <p> Whether you want increased energy or reduced stress, cardio training (otherwise known as cardiovascular or CV training) helps you live a fitter life while strengthening your heart and lungs.
     From interval workouts to endurance exercises, cardio training can also help to lower blood pressure and cholesterol levels.</p>
</div>
<div class="column" style="background-color:black;">
    <iframe width="500" height="315" src="https://www.youtube.com/embed/zVK1QxXPmaM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div><br><br>
</div><br><br>
<div class="row">
 
  <div class="column" style="background-color:black;padding-left: 300px;">
    <iframe width="500" height="315" src="https://www.youtube.com/embed/NMSOpenaNRM" title="YouTube video player" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  <!-- </div> -->
  <div class="column" style="background-color:black; padding: 100px;">
    <h2  >ONE-TO-ONE TRAINING</h2>
    <p> Tailored specifically around your individual fitness, one-to-one personal training ensures you get the most out of every workout.
         Our expert personal trainers can offer support, advice and motivation to keep you on the right track.</p>
  </div>
  
</div><br><br>
<div class="row">
    <div class="column" style="background-color:black; padding: 100px;">
      <h2  >CARDIO TRAINING</h2>
      <p> Whether you want increased energy or reduced stress, cardio training (otherwise known as cardiovascular or CV training) helps you live a fitter life while strengthening your heart and lungs.
         From interval workouts to endurance exercises, cardio training can also help to lower blood pressure and cholesterol levels.</p>
    </div>
    <div class="column" style="background-color:black;">
        <iframe width="500" height="315" src="https://www.youtube.com/embed/vG_Bs0QLc3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div><br><br><br><br>
  </div><br><br><br><br>

</section>   
       
                <!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <a href="https://goo.gl/maps/zjCXap3CQ7mpuA4u9">
                        <i class="fa fa-map-marker"></i>
                    </a>
                    <p>15A,2nd link road,Ashok Nagar,Chennai<br/> 600014</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>+91-1234056789</li>
                        <li>+91-5892453835</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <a href="mailto:fitnessclub@gmail.com">
                    <i class="fa fa-envelope"></i>
                    </a>
                    <p>
                     fitnessclub@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="fs-about">
                    <div class="fa-logo">
                        <a routerLink="/index"><img src="../../assets/img/logo.png" alt=""></a>
                    </div>
                    <p>Being physically active can improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities.</p>
                      <div class="fa-social">
                        <a href="https:\\www.facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="https:\\www.twitter.com"><i class="fa fa-twitter"></i></a>
                        <a href="https:\\www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                        <a href="https:\\www.instagram.com"><i class="fa fa-instagram"></i></a>
                        <a href="mailto:fitnessclub@gmail.com"><i class="fa  fa-envelope-o"></i></a>
                    </div>
                </div>
            </div>
             
            <div class="col-lg-4 col-md-6">
                <div class="fs-widget">
                    <h4>Tips & Guides</h4>
                    <div class="fw-recent"  >
                        <h6  > Physical fitness may help prevent depression, anxiety</h6>
                         
                    </div>
                    <div class="fw-recent">
                        <h6 > Fitness: The best exercise to lose belly fat and tone up...</h6>
                        <ul>
                             
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="copyright-text">
                    <p>
                         Fitness@ Copyright 2023 
                    </p>
                </div>
            </div>
        </div> 
    </div>
</section>
