<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                     
                    <div class="bt-option">
                        <a routerLink="/index">Home</a>
                         
                        <span>Terms and Conditions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<section class="blog-section spad" style="background-color: black;">
    <div class="container">
          

                    <ol style=" color: white;">
                        <li>
                            WAVES GYM retains copyright on all the text, graphics and trademarks displayed on this site. All the text, graphics 
                            and trademarks displayed on this site are owned by WAVES GYM and used under license by WAVES GYM affiliates.
                        </li><br><br>
                        <li>
                            You may print copies of the information on this site for your personal use and store the files on your computer for personal use. You may not distribute text or graphics to others without the express written consent of WAVES GYM and WAVES GYM affiliates. Also, you may not, without our permission, copy and distribute this information on any other server, or modify or reuse text or graphics on this or any another system.

                        </li><br><br>
                        <li>No reproduction of any part of the site may be sold or distributed for commercial gain, nor shall it be modified or incorporated in any other work, publication or site, whether in hard copy or electronic format, including postings to any other site. WAVES GYM reserves all other rights. The information on this site has been included in good faith and is for general purposes only. It should not be relied upon for any specific purpose and no representation or warranty is given as regards its accuracy or completeness.

                        </li><br><br>
                        <li>No information on this site shall constitute an invitation to invest in WAVES GYM or any of its affiliates. Neither WAVES GYM and WAVES GYM affiliates, nor their or their affiliates’ officers, employees or agents shall be liable for any loss, damage or expense arising out of any access to or use of this site or any site linked to it, including, without limitation, any loss of profit, indirect, incidental or otherwise.</li>
                    </ol>
                     

    </div>
</section>

 <div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <a href="https://goo.gl/maps/zjCXap3CQ7mpuA4u9">
                    <i class="fa fa-map-marker"></i>
                    </a>
                    <p>15A,2nd link road,Ashok Nagar,Chennai<br/> 600014</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>+91-1234056789</li>
                        <li>+91-5892453835</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <a href="mailto:fitnessclub@gmail.com">
                    <i class="fa fa-envelope"></i>
                </a>
                    <p>
                     fitnessclub@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
 
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="fs-about">
                    <div class="fa-logo">
                        <a href="#"><img src="../../assets/img/logo.png" alt=""></a>
                    </div>
                    <p>Being physically active can improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities.</p>
                      <div class="fa-social">
                        <a href="https:\\www.facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="https:\\www.twitter.com"><i class="fa fa-twitter"></i></a>
                        <a href="https:\\www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                        <a href="https:\\www.instagram.com"><i class="fa fa-instagram"></i></a>
                        <a href="mailto:fitnessclub@gmail.com"><i class="fa  fa-envelope-o"></i></a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="fs-widget">
                    <h4>Tips & Guides</h4>
                    <div class="fw-recent">
                        <h6> Physical fitness may help prevent depression, anxiety</h6>
                         
                    </div>
                    <div class="fw-recent">
                        <h6> Fitness: The best exercise to lose belly fat and tone up...</h6>
                        <ul>
                             
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="copyright-text">
                    <p>
                          FitnessClub@Copyright 2023 
                    </p>
                </div>
            </div>
        </div> 
    </div>
</section>
