<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="key1" value="100"/>
		<add key="Key2" value="200"/>
	</appSettings>

	<configSections>
		<section name="mySettings1" type="myProject.Libraries.MySettings1"/>

		<section name="mySettings2" type="myProject.Libraries.MySettings2"/>
	</configSections>

	<mySettings1 key1="name" key2="addr"/>
	<mySettings2 key1="rollno" key2="dept"/>

	<connectionStrings>
		<clear/>
		<add name="SQLStudentDB" 
			 connectionString="data source=LAPTOP-PKS4NBKU\SQLEXPRESS;  Initial Catalog=student; integrated security=SSPI"/>
		<add name="OracleLStudentDB"
			 connectionString="data source=LAPTOP-PKS4NBKU\SQLEXPRESS;  Initial Catalog=student; integrated security=SSPI"/>

	</connectionStrings>
	
</configuration>